.GameTitleBar{
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.GameName{
    font-size: 34px;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    white-space: nowrap;
}

.Game{
    position: relative;
}

.SettingsHeader{
    margin-top: 24px;
}

.SettingsHeader:hover{
    cursor: pointer;
}

.SettingsHeader ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    display: table;
    table-layout: auto;
}
.SettingsHeader li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.SettingsHeader .text{
    width: 1%;
    white-space: nowrap;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 22px;
}
.SettingsHeader hr {
    border-color: rgb(90, 90, 90);
}

.Settings{
    margin-top: 14px;
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.TimerSettings{
    font-size: 20px;
}

.TimerSettings input{
    margin-top: 24px;
    width: 100%;
}

.Timer{
    margin-top: 14px;
    font-size: 20px;
    text-align: center;
    color:#f14a4a;
}

.RetryButton{
    width: 36px;
    height: 36px;
    margin-bottom: -2px;
    opacity: 0.7;
    align-self: end;
    fill: red;
}

.card_container{
    margin: auto;
    margin-top: 20px;
    display: table;
    border-spacing: 5px;
    font-size: 20px;
    user-select: none;
}

.row{
    display: table-row;
}

.card_wrapper{
    display: table-cell;
    width: 50px;
}

.card_base {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 167%;
    background-color: #b0ebe4;
}
.card_base:hover{
    background-color: #a0e0e0;
}

.card_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card_text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.selected{
    background-color: #33f3e6;
}
.selected:hover{
    background-color: #33f3e6;
}
.matched{
    background-color: #2ff180;
}
.matched:hover{
    background-color: #2ff180;
}
.not_matched{
    background-color: #f14a4a;
    color: rgb(249, 249, 249);
}
.not_matched:hover{
    background-color: #f14a4a;
    color: rgb(249, 249, 249);
}

.ActionButtonContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_button{
    width: 180px;
    height: 60px;
    background-color: rgb(240, 10, 10);
    border: none;
    color: rgb(249, 249, 249);
    font-size: 20px;
    user-select: none;
}
.action_button:hover{
    background-color: rgb(215, 15, 15);
}